@model IEnumerable<RentalSystem.Models.FeedbackModel>

@{
    ViewBag.Title = "ViewFeedback";
}

<h2>Feedback</h2>
@foreach (var item in Model)
{
    <div>

        <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FeedbackTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.FeedbackTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FeedbackDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.FeedbackDescription)
            </dd>

        </dl>
    </div>
   
}
